**/.circleci
**/.editorconfig
**/.dockerignore
**/.git
**/.DS_Store
**/.vscode
**/node_modules

# Specific patterns to ignore
data-node
meili_data*
librechat*
!vendor/librechat-agents/
!vendor/librechat-agents/**
Dockerfile*
docs

# Ignore all hidden files
.*
